{:lein true

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"                    ;; path seen by browser

   :modules
   {:main {:init-fn latin-texts.app/init}}

   :dev
   {:compiler-options
    {:closure-defines {"re-frame.trace.trace_enabled?" true}
     :devtools-preload [devtools.preload]}}

   :devtools
   {:http-root "resources/public"
    :http-port 3000
    ;; Tell shadow-cljs to watch and hot-reload this CSS file
    :watch-dir   "resources/public"
    :watch-path  "/"
    ;; ;; Optional but helpful: force reload on CSS changes
    ;; :reload-strategy :full           ;; or keep default and rely on CSS injection
    }

   :release
   {:compiler-options
    {:optimizations :advanced
     :closure-defines {goog.DEBUG false}
     :pretty-print  false}}}}}
